body{
    font-family: 'Source Sans Pro', sans-serif !important;
    background-color: rgb(61,61,61);
  }
  #mainBox{
      margin: auto;
      margin-top: 30px;
      background-color: white;
      border-radius: 10px;
      height: 589px;
      width: 500px;
  }
  .title{
      padding-top: 10px;
      font-weight: 700;
      line-height: 27px;
      font-size: 18px;
      text-align: center;
  }
  #inner1{
      margin: auto;
      background-color: rgb(245,245,245);
      height:47px ;
      width: 400px ;
      border-radius: 60px;
  }
  #inner1 P{
      padding-top: 10px;
      font-weight: 600;
      line-height: 20px;
      font-size: 14px;
      margin-left: 50px;
  }
  #purpose{
      height: 28px;
     border-radius : 6px;
     float: left;
     margin-top :-35px; ;
     margin-left: 250px;
  }
  input{
      border: 1px solid gainsboro;
      border-radius: 6px ;
      height: 30px;
      margin-top: 10px;
      margin-left: 30px;
      width: 430px ;
  }
  input:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .iconProp{
      margin-top: 12px;
      float: right;
      padding-right: 5px;  
      color: gray;
  }
 #alreadyaccount{
    margin-top: 200px;
    text-align: center;
 }
 a{
     text-decoration: none;
     color: rgb(1,191,189);
 }
 #next{
     display: block;
     margin-bottom : -70px; 
     height: 52px;
     background-color: rgb(1,191,189);
     width: 500px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
 }
 #next p{
     text-align: center;
     color: white;
     padding-top: 10px;
     font-weight: 700;
     font-size: 18px;
 }

 @media only screen and (max-width:440px){
    #mainBox{
        width: 100%;
        height: 100%;
        margin-left: 0%;
    }     

    #mainBox input{
        width: 80%;
    }

    #next{
        width:100% ;
    }

    #inner1{
        width: 80%;
    }
   
    #purpose{
        margin-left: 20%;
        margin-top: 10%;
        width:59% ;
    }
  
    #alreadyaccount{
        margin-top: 20%;
    }

 }