
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(61,61,61);
}

#mainbox{
    margin: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 12px;
    width: 500px;
    height: 600px ;
}

#heading{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height:50px ;
    width: 500px;
    background-color: rgb(247,248,248);
}

#heading  p {
    padding-top: 10px ;
    text-align: center;
    color: rgb(1,191,189);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

input{
    border: 1px solid rgb(235, 229, 229);
    border-radius: 5px;
    height: 35px;
    margin-top: 20px;
    margin-left: 50px;
    width:400px ;
}
#donationamount{
    margin-top: 40px ;
}
input:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#pay{

    margin: auto;
    margin-top: 30px;
    display: block;
    color: inherit;
    text-decoration: none;
    background-color: rgb(1,191,189);
    width: 300px;
    height:40px ;
    border-radius: 50px;
}

#pay p{
    text-align: center;
    padding-top: 7px;
    color: white;
    font-weight: 700;
    font-size: 17px;
}
#lasttext{
    margin-top: 26px;
    margin-left: 30px;
    color: gray;
}
a{
    text-decoration: none;
    color: rgb(1,191,189);
}