.main{
    margin-top: 10%;
}
/* donate header */

#donateNavbar p {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 19px;
}

#donateNavbar a {
    text-decoration: none;
}

#donateNavbar{
    display: flex;
    background-color: white; 
    top: 0; /* Stay on top */
    left:0;
    right: 0;
    height: 57px;
    padding: 10px;
}
#donateNavbar >div{
  
    height: 50px;
    width:100px ;
    float: left;
}

#donateNavbar > div:nth-child(1){
    width: 80px;
    margin-left: 12%;
}

#donateNavbar > div:nth-child(2){
  text-align:center;  
  margin-left:0px;
  width: 17%;
 }
 
 #donateNavbar > div:nth-child(3){
    width: 40% ;
 }

 #donateNavbar > div:nth-child(4){
    margin-left: 10%;   
    width: 70px ;
    height: 32px ;
    margin-top: 10px;
    border-radius: 5px;
 }

 #donateNavbar > div:nth-child(4)  p{
     margin-top: 8px;
     text-align: center;;
 }

/* body */

.donateCont{
    width: 75%;
    height: 1100px;
    margin: auto;
    padding: 5%;
    /* border: 1px solid black; */
}

 /* heading */

#upperDonate{
    width: 100% ;
    text-align: center;
    font-size: 36px;
    padding-bottom: 20px;
}

/* left div in donate */

.leftDonate{
    width: 60%;
    /* height: 90%; */
    /* border: 1px solid red; */
    box-shadow: 0 6px 40px 0 rgb(0 0 0 / 10%);
    float: left;
}

/* image */

#imgDonate{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* share button */

.share{
    width: 50%;
    height: 80px;
    padding-top: 30px;
    padding-left: 55%;
}

.share > button{
    width: 80%;
    height: 50px;
    border: none;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    border-radius: 5px;
    font-size: 15px;
}

/* about div */

.about{
    width: 96%;
    height: 50px;
    display: flex;
    padding-left: 3%;
    border-bottom: 2px solid #01bfbc60;
    text-align: center;
}

.about > div{
    width: 120px;
    cursor: pointer;
    /* border: 1px solid black; */
}

#comments{
    margin-left: 20px;
}


.aboutDiv{
  text-align : center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius : 10px;
}



/* right div in donate */

.rightDonate{
    width: 35%;
    height: 1000px;
    /* border: 1px solid red; */
    float: right;
}

/* donate button */

#donateBtn{
    width: 100%;
    height: 80px;
    background-color: #01BFBD;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

/* share with facebook */

.rightDonate > button:nth-child(2){
    width: 100%;
    height: 80px;
    background-color : #3B5998;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.rightDonate > div:nth-child(3){
    color: #3B5998; 
    font-style: italic; 
    text-align: center;
}

/* amount */

#amount{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    font-size: 42px;
}

/* days and supporters left */

.supp-dayleft{
    width: 100%;
    height: 50px;
}

.s{
    float: left;
}

.d{
    float: right;
}

#supporters, #daysLeft{
    font-size: 28px;
}

/* capaigner and benifitor */

.campaign{
    width: 100%;
    height: 200px;
    box-shadow: 0 6px 40px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin-bottom: 30px;
}

.capaigner, .benifitor{
    width: 100%;
    height: 90px;
}

.capaigner > div, .benifitor > div{
    width: 30%;
    height: 90px;
}

.dash{
    width: 80%;
    height: 0.2px;
    background-color: #999999;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 35px;
}

.dash-diff{
    width: 100%; 
    margin-left: 0;
}

.campaign img{
    width: 60px;
    height: 60px;
    margin-left: 40%;
    margin-top: 10px;
}

.capaigner, .benifitor{
    display: flex;
}



.benifitor > div:nth-child(2) div{
    margin-left: 40%;
    margin-top: 10px;
    /* border: 1px solid black; */
}

 

.capaigner > div:nth-child(2) div{
    margin-left: 40%;
    margin-top: 10px;
    /* border: 1px solid black; */
}

/* team */

.team{
    width: 100%;
    height: 150px;
    box-shadow: 0 6px 40px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin-bottom: 30px;
}

.top , .bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
    padding-top: 10px;
}

.bottom:first-child{
    cursor: pointer;
}

/* top donor div */

.top-donor{
    width: 100%;
    height: 150px;
    box-shadow: 0 6px 40px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin-bottom: 30px;
}

.show-more{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 140px;
}

/* have questions div */

.have-q{
    width: 85%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    padding-left: 15%;
    padding-top: 100px;
}

.have-q > p{
    margin-right: 10%;
}

.chat_2{
    width: 40%;
    height: 100%;
    display: flex;
}

.chat_2 > div{
    width: 200px;
    height: 80%;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
}

.chat_2 > div:nth-child(1){
   background-color: #354F84;
   margin-right: 10px;
}

.chat_2 > div:nth-child(2){
   background-color: #13CB6A;
}

.chat_2 img{
    margin-right: 10px;
}

/* common properties */

.font-family{
    font-family: 'Source Sans Pro', sans-serif;
}

.font-weight-1{
    font-weight: 400;
}

.font-weight-2{
    font-weight: 700;
}

.font-size{
    font-size: 17px;
}

.font-size-2{
    font-size: 14px;
}

.font-color-1{
    color: #444444;
}

.font-color-2{
    color : #01BFBD;
}

.font-color-3{
    color: white;
}

.back-color{
    background-color: #01BFBD;
}

.color{
    color: gray;
}

.font-color-4{
    color: #999999;
}

.font-color-5{
    color: #007DE1;
}

.icon-color{
    color: #ccc;
}

.padding{
    padding: 50px;
}

.backColor{
    background-color: rgba(0, 0, 0, 0.041);
}


@media only screen and (max-width: 950px){
    #donateNavbar > div:nth-child(1){
        margin-left: 10%;
    }

}

@media only screen and (max-width: 750px){
    .donateCont{
        margin-bottom: 30%;
    }
    #donateNavbar > div:nth-child(1){
        margin-left: 0px;
    }

    .donateCont{
        margin-bottom: 30%;
    }

    .have-q{
        display: none;
    }

    .top-donor{
        display: none;
    }

    .rightDonate{
        float: none;
        height: 500px;
        width: 100%;
        margin-top: 100%;
        margin-bottom: 50%;
    }

    .leftDonate{
        width: 100%;
        margin-bottom: 10%;
    }

    .team{
        display: none;
    }

    #contact > h3{
        margin: 0px;
    }
}

@media only screen and (max-width: 430px){
    .donateCont{
        margin-bottom: 40%;
    }

    #donateNavbar > div:nth-child(2){
        display: none;
       }
       
    .donateCont{
        margin-bottom: 40%;
    }

       #donateNavbar > div:nth-child(3){
          display: none;
       }

       #donateNavbar > div:nth-child(1){
           margin-right: 35%;
     }

     .team{
         display: none;
     }

     #contact > h3{
        margin: 0px;
    }

    .leftDonate{
        margin-bottom: 10%;
    }
}