#navbar{ 
    background-color: white; 
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    left:0;
    right: 0;
    height: 82px;
    padding: 10px;
    transition:  all 0.4s ease;
}
#navbar >div{
  
    height: 50px;
    width:100px ;
    float: left;
}
#navbar > div:nth-child(1){
    width: 80px;
   margin-left: 200px;
}
#navbar > div:nth-child(2){
  text-align:center;  
  margin-left:0px;
  width: 200px ;
 }
 #navbar > div:nth-child(3){
      
    width: 150px ;
 }
 #navbar > div:nth-child(5){
    margin-left: 270px;
    border: 2px solid #21d821;     
    width: 90px ;
    height: 32px ;
    margin-top: 10px;
    border-radius: 5px;
 }
 #navbar > div:nth-child(5) > a p{
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 17px;
     color: #21d821;
     font-weight: 700;
     margin-left: 40px;
     margin-top: -24px;
 }
 .iconify{
    margin-left: 5px; 
    margin-top: 7px;
    color: #21d821;
     width: 40px;
     line-height: 30px;
 }
 
 #navbar > div:nth-child(6){
    margin-left: 20px;
    border: 2px solid #01bfbd;     
    width: 170px ;
    height: 32px ;
    margin-top: 10px;
    border-radius: 5px;
 }
 
 #navbar > div:nth-child(6) p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 900;
    color:#01bfbd;
    text-align: center;
    margin-top: -1px;
 }
 
 #navbar > div:nth-child(7){
    margin-left: 5px;   
    width: 70px ;
    height: 32px ;
    margin-top: 10px;
    border-radius: 5px;
 }
 #navbar > div:nth-child(7)  p{
     margin-top: 8px;
     text-align: center;
 }
#navbar  img {
    margin-top: -15px;
    margin-left: 5px;
    width: 70px;
    height: 70px;
}

#navbar a {
    text-decoration: none;
}
#navbar p {
     
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 19px;
}
#down-traingle{
   font-size: 15px; 
   color: black;
}
.clear{
    clear: both;
}


@media (max-width :720px){
    #navbar{
        display: none;
    }
}